

@{
    ViewBag.Title = "Humidity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Connected Particle Photon's</h2>
        <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZTJmMTZkOGEtM2RlYy00OWQ2LWJmODAtM2I3OWFmZTkzMDBiIiwidCI6ImIxNjRmMzI1LTFhNzktNDU3OC1iM2U4LWMxNjFiMDQzNWFkMSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>    
</div>

