

@{
    ViewBag.Title = "Humidity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Connected Particle Photon's</h2>
    <div class="col-xs-12 col-md-6">
        <h2>Humidity</h2>
        <iframe width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNWU5OTU0NTMtMmFjOC00MzVkLWEwYmMtY2JiN2EwM2FkOTdkIiwidCI6ImIxNjRmMzI1LTFhNzktNDU3OC1iM2U4LWMxNjFiMDQzNWFkMSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-xs-12 col-md-6">
        <h2>Temperature</h2>
        <iframe width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiODY0YzlmZDAtYWM0NC00ZTUwLThkOTAtZTUwNzkwMWVmOGZjIiwidCI6ImIxNjRmMzI1LTFhNzktNDU3OC1iM2U4LWMxNjFiMDQzNWFkMSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

