
@{
    ViewBag.Title = "Humidity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Humidity</h2>
        <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNmI0MmIwYmItMzFjNy00NGQ3LWEwYTYtZjFkZTVkMjE3ZGE4IiwidCI6ImIxNjRmMzI1LTFhNzktNDU3OC1iM2U4LWMxNjFiMDQzNWFkMSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
