@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2>Welcome to temperature logger</h2>
                <p>What do you want to see?</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-4 text-center">
                <a href="@Url.Action("Temperature")" class="btn btn-default index-box">
                    <i class="glyphicon glyphicon-cloud gi-2x"></i>
                    <div class="col-xs-12">
                        Temperature
                    </div>
                </a>

            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <a href="@Url.Action("Humidity")" class="btn btn-default index-box">
                    <i class="glyphicon glyphicon-tint gi-2x"></i>
                    <div class="col-xs-12">
                        Humidity
                    </div>
                </a>

            </div>
            <div class="col-xs-12 col-md-4 text-center">
                <a href="@Url.Action("Devices")" class="btn btn-default index-box">
                    <i class="glyphicon glyphicon-phone gi-2x"></i>
                    <div class="col-xs-12">
                        Devices
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>