@{
    ViewBag.Title = "Home Page";
}
<div>
    <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiYzNjNTQ1OTgtNjJiNy00ODNmLWEwYTItMTI3YmIxMTczMWZmIiwidCI6ImIxNjRmMzI1LTFhNzktNDU3OC1iM2U4LWMxNjFiMDQzNWFkMSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
</div>
<!--
<div>
    <select id="method">
        <option value="get">GET</option>
        <option value="post">POST</option>
        <option value="put">PUT</option>
    </select>
    <input type="button" value="Try it" onclick="sendRequest()"/>
    <span id='value1'>(Result)</span>
</div>


@*section scripts {
    <script>
    // TODO: Replace with the URL of your WebService app
        var serviceUrl = 'http://pptlbhwebapi.azurewebsites.net/api/readandreturnjson';

    function sendRequest() {
        var method = $('#method').val();

        $.ajax({
            type: method,
            url: serviceUrl
        }).done(function (data) {
            $('#value1').text(data);
        }).error(function (jqXHR, textStatus, errorThrown) {
            $('#value1').text(jqXHR.responseText || textStatus);
        });
    }
    </script>
}*@
    -->