
@{
    ViewBag.Title = "Temperature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12 col-md-6 ">
        <h2>Temperature</h2>
        <iframe width="100%" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiOGFlZDA2NGYtYjk4NC00OGNjLWFmMWEtZjcwYTRmNDk1NWNkIiwidCI6ImIxNjRmMzI1LTFhNzktNDU3OC1iM2U4LWMxNjFiMDQzNWFkMSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-xs-12 col-md-6 ">
        <h2>Stable Temperature</h2>
        <iframe width="100%" height="510"src="https://app.powerbi.com/view?r=eyJrIjoiYjJjNTE2MjctZTUyMy00ODliLTk3MDEtZWYzY2Y0MzZmMzI1IiwidCI6ImIxNjRmMzI1LTFhNzktNDU3OC1iM2U4LWMxNjFiMDQzNWFkMSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-xs-12 col-md-6 ">
        <h2>Critical Temperature</h2>
        <iframe width="100%" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiMDljMGU2ODYtOTBlYS00ODY4LWFlMjYtOTY0NmYxNDNkMzY1IiwidCI6ImIxNjRmMzI1LTFhNzktNDU3OC1iM2U4LWMxNjFiMDQzNWFkMSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="col-xs-12 col-md-6 ">
        <h2>Dangerous Temperature</h2>
        <iframe width="100%" height="510"  src="https://app.powerbi.com/view?r=eyJrIjoiNzY1ZGY5OTktYzM3My00ZTIwLWJkNWQtNzA0NTI3Y2ZhOWUwIiwidCI6ImIxNjRmMzI1LTFhNzktNDU3OC1iM2U4LWMxNjFiMDQzNWFkMSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
